.quadrado{
    width:100px;
    height:100px;
    background-color: blue;
    color: white;


display: flex;
align-items: center;
justify-content: center;

text-align:center;
padding:10px;
box-sizing; border-box;
}